// @import '../node_modules/foundation-sites/scss/foundation';

// @include foundation-global-styles;
// @include foundation-grid;

body {
    background-color: #292724;
    color: white;
    font-family: "Permanent Marker", cursive;
}